<link href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css" rel="stylesheet" />
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Dashboard/Index">
                <i class="fa-light fa-chart-pie"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
      
        <li class="nav-item">
            <a class="nav-link"  href="/Writer/Message/Index" aria-expanded="false" aria-controls="ui-basic">
                <i class="fa-duotone fa-messages"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="menu-title">Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Default/Index" aria-expanded="false" aria-controls="form-elements">
                <i class="fa-duotone fa-scroll"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="menu-title">Duyurular</span>
                
            </a>
            
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/Writer/Profile/Index" aria-expanded="false" aria-controls="charts">
                <i class="fa-duotone fa-address-card"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="menu-title">Profilim</span>
              
            </a>
           
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index" aria-expanded="false" aria-controls="tables">
                <i class="fa-regular fa-sliders"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="menu-title">Ayarlar</span>
            
            </a>
            
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Login/LogOut" aria-expanded="true" aria-controls="icons">
                <i class="fa-duotone fa-person-from-portal"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="menu-title">Çıkış</span>
            </a>
        </li>
        
    </ul>
</nav>