
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa-duotone fa-grid-horizontal"></i>&nbsp;
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="/Writer/Login/Index/" aria-expanded="false" aria-controls="ui-basic">
                <i class="fa-duotone fa-messages"></i>&nbsp;
                <span class="menu-title">Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="/Writer/Default/Index/" aria-expanded="false" aria-controls="form-elements">
                <i class="fa-duotone fa-user-group"></i>&nbsp;
                <span class="menu-title">Tablolar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                <i class="fa-duotone fa-user"></i>&nbsp;
                <span class="menu-title">Profil</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                <i class="fa-duotone fa-gear"></i>&nbsp;
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                <i class="fa-duotone fa-door-closed"></i>&nbsp;
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>