<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahve Köşesi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container container-fluid px-0 px-5 px-lg-0">
            <a class="navbar-brand text-white fw-bold" href="./index.html">Kahve Köşesi</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active text-secondary" aria-current="page" href="./index.html">Ana Sayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="./hakkinda.html">Hakkında</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="./iletisim.html">İletişim</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <div class="col-12 col-lg-6 mx-auto my-5 py-5 px-5 px-lg-0">
            <div class="fw-bold fs-2 text-center">Kaliteli Kahvenin Ardında Yatan Hikaye: Misyon ve Vizyonla Şekillenen Sıcak Atmosfer!</div>
            <div class="fs-4 text-secondary text-center">Kahvemizin misyonu, herkesi sıcak bir atmosferde kaliteli kahveyle buluşturmak; vizyonumuz, müşterilere eşsiz bir kahve deneyimi sunarak kahve kültürünü yaymak. Kaliteli içecekleri ve sıcak atmosferiyle öne çıkan kahvemiz, insanları bir araya getirme taahhüdümüzle öne çıkıyor.</div>
            <a href="#read-scroll"><button type="button" class="btn btn-primary btn-lg justify-content-center d-flex mx-auto mt-4">Hikayemizi okuyun</button></a>
        </div>
    </section>

    <section id="read-scroll">
        <div class="container my-5 px-5 py-5 px-lg-0">
            <div class="blog-about row">
                <div class="col-12 col-lg-6">
                    <img src="./assets/img/kahve-barista.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-12 col-lg-6 my-5">
                    <div class="fw-bold fs-3">Kuruluşumuz</div>
                    <p class="text-secondary fs-5">2024 yılında kurulan kafemiz, kahve tutkunlarına enfes lezzetler ve sıcak bir atmosfer sunmayı amaçlayan bir girişimin ürünüdür. Her bir fincan kahvemiz, dünya genelinden özenle seçilmiş kahve çekirdekleriyle özel olarak hazırlanmaktadır, ve misafirlerimize unutulmaz bir kahve deneyimi yaşatmak için özenle tasarlanmıştır</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container my-5 px-5 px-lg-0 pb-5">
            <div class="blog-about row">
                <div class="col-12 col-lg-6 my-5 order-2 order-md-1">
                    <div class="fw-bold fs-3">Büyüme & Yükseliş</div>
                    <p class="text-secondary fs-5">Kafemiz, başlangıcından itibaren sürekli büyüme ve yükselişte. Lezzetli kahveler ve sıcak atmosferle müşterilerimize unutulmaz bir deneyim sunuyoruz. Kendimizi sürekli yenileyerek kafe kültüründeki çıtamızı yükseltiyor, misafirlerimizi ağırlamaktan büyük mutluluk duyuyoruz. Bu heyecanlı yolculukta bizimle birlikte olmanızı bekliyoruz, çünkü büyüme ve yükselişte hep birlikte ilerlemek en büyük amacımız.</p>
                </div>
                <div class="col-12 col-lg-6 order-1 order-md-2">
                    <img src="./assets/img/kahve-kurulus.jpg" class=" img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container px-5 px-lg-0 my-5">
            <div class="team-wrapper">
                <div class="team-info text-center mb-5">
                    <div class="team-title fw-bold fs-3">
                        Bizim Takım
                    </div>
                    <div class="team-text fs-4 text-secondary">
                        Kaliteye ve başarıya adanmış
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-12 col-md-6 col-lg-3 text-center mt-4 mt-lg-0">
                    <div class="team-person">
                        <img src="./assets/img/avatar-testimonial.jpg" class="team-person-img" alt="">
                        <div class="team-person-info ms-3 my-3">
                            <div class=" team-person-name fw-bold">
                                Arden Vasek
                            </div>
                            <i class="team-person-job">
                                Founder
                            </i>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 text-center mt-4 mt-lg-0">
                    <div class="team-person">
                        <img src="./assets/img/avatar-testimonial.jpg" class="team-person-img" alt="">
                        <div class="team-person-info ms-3 my-3">
                            <div class=" team-person-name fw-bold">
                                Arden Vasekkk
                            </div>
                            <i class="team-person-job">
                                Founder
                            </i>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 text-center mt-4 mt-lg-0">
                    <div class="team-person">
                        <img src="./assets/img/avatar-testimonial.jpg" class="team-person-img" alt="">
                        <div class="team-person-info ms-3 my-3">
                            <div class=" team-person-name fw-bold">
                                Arden Vasek
                            </div>
                            <i class="team-person-job">
                                Founder
                            </i>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 text-center mt-4 mt-lg-0">
                    <div class="team-person">
                        <img src="./assets/img/avatar-testimonial.jpg" class="team-person-img" alt="">
                        <div class="team-person-info ms-3 my-3">
                            <div class=" team-person-name fw-bold">
                                Arden Vasek
                            </div>
                            <i class="team-person-job">
                                Founder
                            </i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <footer class="text-bg-dark">
        <div class="container">
            <div class="row text-white py-4">
                <div class="col-12 col-md-6 text-center text-lg-start">
                    Copyright &copy; Büşra Çoğul 2024
                </div>
                <div class="col-12 col-md-6 text-center text-lg-end">
                    <a href="./index.html" class="text-white">Ana Sayfa</a>
                    <span>.</span>
                    <a href="./hakkinda.html" class="text-white">Hakkında</a>
                    <span>.</span>
                    <a href="./iletisim.html" class="text-white">İletişim</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>