<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahve Köşesi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container container-fluid px-0 px-5 px-lg-0">
            <a class="navbar-brand text-white fw-bold" href="./index.html">Kahve Köşesi</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active text-secondary" aria-current="page" href="./index.html">Ana Sayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="./hakkinda.html">Hakkında</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="./iletisim.html">İletişim</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="bg-dark">
        <div class="container py-5 px-5 px-lg-0">
            <div class="row py-3">
                <div class="col-12 col-lg-6">
                    <h1 class="text-white text-center text-lg-start">En Özel Kahve Deneyimleri Sizi Bekliyor</h1>
                    <h4 class="text-secondary text-center text-lg-start my-4">Ekrandan yayılan kahve kokusu, sizi içine çeken büyülü bir serüvene davet ediyor!</h4>
                    <div class="btn-info text-center text-lg-start">
                        <a href="#feature"><button type="button" class="col-12 col-md-4 btn btn-primary btn-lg">Hemen Başla</button></a>
                        <a href="#blog-scroll"><button type="button" class="col-12 col-md-4 btn btn-outline-light btn-lg mx-lg-3 mt-3 mt-md-0 ms-md-4 ms-0">Daha Fazla</button></a>
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-6">
                    <img src="./assets/img/coffee-home.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </header>

    <section id="feature">
        <div class="container my-5 py-5 px-5 px-lg-0">
            <div class="icon-wrapper row">
                <div class="col-lg-4 fw-bold fs-2">Geleneksel Lezzetin Doğal Sunumu</div>
                <div class="col-lg-4 col-md-6 col-12 py-md-4 py-lg-0 my-4 my-md-0">
                    <i class="bi bi-cup-hot d-inline-block fs-5 px-3 py-2 bg-primary rounded text-white"></i>
                    <div class="fw-bold coffee-name my-2">Türk Kahvesi</div>
                    <p>Siz kahve tutkunları için özel olarak seçilmiş en kaliteli kahve çekirdekleri ile hazırlanan Türk kahvemiz, geleneksel lezzeti modern bir sunumla birleştiriyor.</p>
                </div>
                <div class="col-lg-4 col-md-6 col-12 py-md-4 py-lg-0">
                    <i class="bi bi-cup-hot d-inline-block fs-5 px-3 py-2 bg-primary rounded text-white"></i>
                    <div class="fw-bold coffee-name my-2">Filtre Kahve</div>
                    <p>Filtre kahve, sade ve temiz bir kahve deneyimi arayanlar için mükemmel bir tercihtir. Kahve çekirdekleri, özel tasarımlı bir filtre aracılığıyla demlenir, böylece kahvenin özü yumuşak bir lezzetle ortaya çıkar.</p>
                </div>
            </div>
            <div class="icon-wrapper row my-4">
                <div class="col-lg-4"></div>
                <div class="col-lg-4 col-md-6 col-12">
                    <i class="bi bi-cup d-inline-block fs-5 px-3 py-2 bg-primary rounded text-white"></i>
                    <div class="fw-bold my-2">Soğuk Kahve</div>
                    <p>Soğuk kahve, sıcak günlerin vazgeçilmezi! İnce bir dokunuşla hazırlanan soğuk kahvemiz, ferahlatıcı bir içecek deneyimi sunar.</p>
                </div>
                <div class="col-lg-4 col-md-6 col-12 my-4 my-md-0">
                    <i class="bi bi-cup d-inline-block fs-5 px-3 py-2 bg-primary rounded text-white"></i>
                    <div class="fw-bold coffee-name my-2">Hazır Kahve</div>
                    <p>Yoğun tempolu günlerde kahve keyfini yaşamak artık daha kolay! Hazır kahveler, hızlı yaşam tarzınıza uyum sağlayan pratik ve lezzetli bir çözümdür.</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container py-5">
            <div class="excerpt-wrapper">
                <div class=" text-center mx-auto px-5 w-100">
                    <i class="fs-4">"Her fincan kahvemiz, yüzyıllardır devam eden geleneksel Türk kahvesinden ilham alarak, modern damaklara hitap eden filtre kahve, ferahlatıcı soğuk kahve ve hızlı lezzet sunan hazır kahvelere kadar geniş bir yelpazede tatlar sunuyor. Kaliteli çekirdeklerin ustalıkla harmanlandığı her kahve, tutkumuz ve özenimizin bir eseri olarak damaklarınıza ulaşıyor. Kahve keyfiyle dolu bir yolculuk için bizimle keşfe çıkın. Size özel kahve anlarını paylaşmak ve lezzetin zengin dünyasında birlikte büyümek için sabırsızlanıyoruz!"</i>
                </div>
                <div class="excerpt-writer d-flex justify-content-center align-items-center my-4">
                    <div class="excerpt-writer-person ">
                        <img src="./assets/img/avatar-testimonial.jpg" class="card-profile-img me-3" alt="">
                    </div>
                    <div class="excerpt-writer-name fw-bold">
                        Tom Ato
                    </div>
                    <span class="text-primary mx-2 fw-bold">/</span>
                    <div class="excerpt-writer-job fw-bold">
                        CEO, Pomodoro
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container my-5 px-5 px-lg-0">
            <div class="blog-wrapper" id="blog-scroll">
                <div class="blog-text-wrapper">
                    <div class="blog-title fw-bold fs-2 text-center">
                        Kahve Blog
                    </div>
                    <div class="blog-text text-center">
                        Kahve tutkunlarının buluşma noktası! KahveBlog, sizleri kahvenin büyülü dünyasına davet ediyor. En güncel kahve trendleri, barista sırları, lezzetli tarifler ve daha fazlasını keşfetmek için bu aromatik yolculuğa katılın.
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-12 col-lg-4">
                        <div class="card">
                            <img src="./assets/img/kahve-nedir.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <span class="badge rounded-pill text-bg-primary">Yeni</span>
                                <h5 class="card-title mt-2">Kahve Nedir?</h5>
                                <p class="card-text">Kahve; kökboyasıgiller (Rubiaceae) familyasının Coffea cinsinde yer alan bir ağaç ve bu ağacın meyve çekirdeklerine dayalı bir içecektir. Bu eşsiz içki, farklı tüketim alışkanlıkları ile birlikte, sıcak sohbetlerden iş toplantılarına kadar geniş bir yelpazede insan hayatında önemli bir yer edinmiştir</p>
                                <div class="card-end mt-5">
                                    <div class="card-users-profile d-flex">
                                        <div class="card-profile">
                                            <img src="./assets/img/avatar-testimonial.jpg" class="card-profile-img me-3 mt-1" alt="">
                                        </div>
                                        <div class="card-profile-name d-flex flex-column">
                                            <span class="fw-bold fs-6">John Martin</span>
                                            <span>11 Şubat, 2024</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card my-5 my-lg-0">
                            <img src="./assets/img/kahve-yetistirme.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <span class="badge rounded-pill text-bg-primary">Yeni</span>
                                <h5 class="card-title mt-2">Kahve Nasıl Yetiştirilir?</h5>
                                <p class="card-text">Kahve yetiştiricileri dünya pazarına her yıl 7.000.000 tonu geçkin kahve arz etse de nitelikli kahve çekirdeklerine ulaşmak her zaman kolay olmaz. Nitelikli kahve elde edilmek için ekilen kahve ağaçları ekildikten yaklaşık 3-5 yıl içerisinde meyve vermeye başlıyor.</p>
                                <div class="card-end mt-5">
                                    <div class="card-users-profile d-flex">
                                        <div class="card-profile">
                                            <img src="./assets/img/avatar-testimonial.jpg" class="card-profile-img me-3 mt-1" alt="">
                                        </div>
                                        <div class="card-profile-name d-flex flex-column">
                                            <span class="fw-bold fs-6">John Martin</span>
                                            <span>25 Ocak, 2024</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card">
                            <img src="./assets/img/kahve-ulke.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <span class="badge rounded-pill text-bg-primary">Yeni</span>
                                <h5 class="card-title mt-2">Kahve Yetiştirici Ülkeler</h5>
                                <p class="card-text">Kahve yalnızca Ekvator çizgisinde yer alan kahve kemeri olarak adlandırılan oğlak ve yengeç dönenceleri olarak ifade edilen alanda yetiştirilebilir. Sıcaklık 12 derecenin altında olduğunda ağaçlar donar, Sıcaklık 35 derecenin yukarısında olduğunda meyveler kurur.</p>
                                <div class="card-end mt-5">
                                    <div class="card-users-profile d-flex">
                                        <div class="card-profile">
                                            <img src="./assets/img/avatar-testimonial.jpg" class="card-profile-img me-3 mt-1" alt="">
                                        </div>
                                        <div class="card-profile-name d-flex flex-column">
                                            <span class="fw-bold fs-6">John Martin</span>
                                            <span>12 Ocak, 2024</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="px-5 px-lg-0">
        <div class="container bg-primary py-5 px-5 rounded my-5">
            <div class="row">
                <div class="col-12 col-lg-6 d-flex flex-column text-center text-lg-start">
                    <span class="fw-bold text-white fs-5">Yeni ürünler, tarafınıza teslim ediliyor.</span>
                    <span class="text-white-50">En güncel ürünleri takip et.</span>
                </div>
                <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="E-mail adres..." aria-label="Email address..." aria-describedby="button-addon2">
                        <button class="btn btn btn-outline-light " type="button" id="button-addon2">Üye Ol</button>
                    </div>
                    <span class="text-white-50">Anında yeni ürünlerden haberdar ol!</span>

                </div>
            </div>
        </div>
    </section>

    <footer class="text-bg-dark">
        <div class="container">
            <div class="row text-white py-4">
                <div class="col-12 col-md-6 text-center text-lg-start">
                    Copyright &copy; Büşra Çoğul 2024
                </div>
                <div class="col-12 col-md-6 text-center text-lg-end">
                    <a href="./index.html" class="text-white">Ana Sayfa</a>
                    <span>.</span>
                    <a href="./hakkinda.html" class="text-white">Hakkında</a>
                    <span>.</span>
                    <a href="./iletisim.html" class="text-white">İletişim</a>
                </div>

            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>