@{
    Layout=null;
}

<!DOCTYPE html>
<!-- upto 2 directory depth-->
<html lang="en-US">
    @await Html.PartialAsync("PartialHead")
<body id="top">
   @await Html.PartialAsync("PartialNavbar")
    <div class="page-content">
        <div id="content">
           
            @await Component.InvokeAsync("FeatureList")
           
            @await Component.InvokeAsync("AboutList")
           
            @await Component.InvokeAsync("ServiceList")
           
            @await Component.InvokeAsync("SkillList")
           
            @await Component.InvokeAsync("ProjectList")
           
           @await Component.InvokeAsync("ExperienceList")
           
           @await Component.InvokeAsync("ReferanceList")

            <div class="section px-2 px-lg-4 pb-4 pt-5 mb-5" id="contact">
                <div class="container-narrow">
                    <div class="text-center mb-5">
                        <h2 class="marker marker-center">İletişim</h2>
                    </div>
                    <div class="row">
                       @*  @await Component.InvokeAsync("SendMessage") *@
                       @await Html.PartialAsync("/Views/Default/SendMessage.cshtml")
                        @await Component.InvokeAsync("Address")
                    </div>
                </div>
            </div>
            <footer class="pt-4 pb-4 text-center bg-light">
                <div class="container">
                    <div class="my-3">
                        <div class="h4">Ömer Faruk Gözegir</div>
                        <p>Engineer Student & Jr .Net Developer</p>
                        <div class="social-nav">
                            <nav role="navigation">
                                <ul class="nav justify-content-center">
                                    @await Component.InvokeAsync("FeatureSocial")
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="text-small text-secondary">
                        <div class="mb-1">&copy; @DateTime.Now.Year Tüm Hakları Saklıdır.</div>
                        <div>
                            <!-- Make sure to buy a license for the template before removing the line below. Buy license on https://templateflip.com/ -->Tema Sahibi - <a href="https://templateflip.com/" target="_blank">TemplateFlip</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div id="scrolltop"><a class="btn btn-secondary" href="#top"><span class="icon"><i class="fas fa-angle-up fa-x"></i></span></a></div>
    <script src="~/SuperB/scripts/imagesloaded.pkgd.min.js?ver=1.2.0"></script>
    <script src="~/SuperB/scripts/masonry.pkgd.min.js?ver=1.2.0"></script>
    <script src="~/SuperB/scripts/BigPicture.min.js?ver=1.2.0"></script>
    <script src="~/SuperB/scripts/purecounter.min.js?ver=1.2.0"></script>
    <script src="~/SuperB/scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
    <script src="~/SuperB/scripts/aos.min.js?ver=1.2.0"></script>
    <script src="~/SuperB/scripts/main.js?ver=1.2.0"></script>
</body>
</html>