@model Portfolio.Entity.Concrete.Service
@{
    ViewData["Title"] = "InsertService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">
                Yeni : <code>Proje Sayfası</code>
            </p>
            <br />
            @using (Html.BeginForm("InsertService", "Service", FormMethod.Post))
            {
                <form class="forms-sample">
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.ServiceID, new { @type = "hidden" })

                    </div>
                    <div class="form-group">
                        <label>Başlık</label>
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Servise Ait Resim</label>
                        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Icon Yolu(mdi)</label>
                        @Html.TextBoxFor(x => x.IconUrl, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <a href="/Service/Index" class="btn btn-dark">Vazgeç</a>
                </form>
            }
        </div>
    </div>
</div>

