<div class="row">
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">@ViewBag.one</h3>
                            
                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">Toplam Yetenek Sayısı</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">@ViewBag.two</h3>

                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">Okunmamış Mesaj Sayısı</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">@ViewBag.three</h3>

                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">Okunmuş Mesaj Sayısı</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">@ViewBag.four</h3>

                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">Toplam Deneyim Sayısı</h6>
            </div>
        </div>
    </div>
</div>