<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("/Areas/Writer/Views/Default/HeadPartial.cshtml")
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        @await Html.PartialAsync("/Areas/Writer/Views/Default/NavbarPartial.cshtml")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">

            
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            @await Html.PartialAsync("/Areas/Writer/Views/Default/SideBarPartial.cshtml")
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    @await Html.PartialAsync("/Areas/Writer/Views/Default/ScriptsPartial.cshtml")
    <!-- End custom js for this page-->
</body>

</html>
