<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Visitors by Countries</h4>
                <div class="row">
                    <div class="col-md-5">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <img src="~/turkey.png" />
                                        </td>
                                        <td>Türkiye</td>
                                        <td class="text-right"> 2024 </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="~/azerbaijan.png" />
                                        </td>
                                        <td>Azerbaycan</td>
                                        <td class="text-right"> 2023 </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="~/ozbekistan.png" />
                                        </td>
                                        <td>Özbekistan</td>
                                        <td class="text-right"> 2023 </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="~/tunisia.png" />
                                        </td>
                                        <td>Tunus</td>
                                        <td class="text-right"> 2021 </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="/singapore.png" />
                                        </td>
                                        <td>Singapur</td>
                                        <td class="text-right"> 2019 </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="~/argentina.png" />
                                        </td>
                                        <td>Arjantin</td>
                                        <td class="text-right"> 2015 </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div id="audience-map" class="vector-map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>